body {
    background-color:#EEF5FF;
    margin:0;
    padding: 0;
}

.pheader {
    color: #7C93C3;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    margin-left: 100px;
}

/*navigation*/
li {
    list-style-type: none;
}
ul {
    margin: 0;
}

.ownnav ul {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    background-color: #9EB8D9;
    font-size: 25px;
    padding: 20px;

}

#lastitem{
    padding-right: 15px;
}

.ownnav a{
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: bold;
}

.ownnav a:link{
    text-decoration: none;
}

/*introduction section*/

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
}

.intro h1, .intro h2, .intro .img {
    display: flex;
}

.intro h1 {
    justify-content: center;
    align-items: flex-end;
    margin-top: 0;
    font-family: "Sacramento", cursive;
    font-size: 100px;
    color: #7C93C3;
    margin-bottom: 0;
    margin-left: 180px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}

.intro h2 {
    justify-content: center;
    align-items: flex-start;
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: #7C93C3;
    font-weight: 100;
    margin-top: 0;
    margin-left: 100px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);


}
.intro .img{
    grid-row: span 2;
    align-items: center;
    justify-content: center;
}

.intro img{
    height: 50%;
    filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);   
}

.intro h1 img{
    height: 200px;
    margin-bottom: 50px;
}

/*experience*/

.timeline {
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.year {
    display: grid;
    width: clamp(300px, 16vw,400px);
    grid-template-rows: auto auto 1fr 1fr;
}

.year::before {
    content: '';
    padding: 2px;
    margin: auto;
    grid-row: 3;
    display: block;
    height: 100%;
}
.year:nth-child(even) {  
    grid-template-rows: auto auto clamp(30px, 10vmin, 100px) 1fr;  
}

.date {
    font-size:clamp(26px,4vw ,40px);
    color:white;
    padding:0 1rem;
    text-align:center;
    border-radius:5px;
    font-family: "Montserrat", sans-serif;
}

.time-content {
    border-radius:5px;
    padding:1em;
    margin-bottom:auto;
}

.time-graphic {
    grid-row: 1;
    margin: auto;    
}

.time-graphic img {
    height: 50px;
}

.orange, .year:nth-child(1)::before {
    background-color: #f39c12;
}

.green, .year:nth-child(2)::before {
    background-color: #27ae60;
}
.pink, .year:nth-child(3)::before {
    background-color: #e74c3c;
}

.lightblue, .year:nth-child(4)::before {
    background-color: #3498db;
}
.yellow, .year:nth-child(5)::before {
    background-color: #f1c40f;
}



/*portfolio*/

.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap:20px;
}

.pimg {
    display: flex;
    justify-content: center;
    
}

.section {
    border-radius: 25px;
    background-color: #e5eefa;
    font-family:"Montserrat", sans-serif;
}

.subtitle {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin: 30px;
}
.section img{
    border-radius: 25px;

}

.innerimg {
    background-color:#d4e1f1;
    padding: 20px;
    border-radius: 20px;
    margin: 30px;
}

.boxdecor {
    background-color:#dfeaf9;
    margin-bottom: 20px;
    height: 70px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.section h3 {
    margin-top: 0;
    font-family: "Montserrat", sans-serif;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 30px;
    color: black;
    letter-spacing: 3px;
}

.section a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.5; 
}

/*Contact Me*/

#longinput {
    width: 400px;
    height: 300px;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
}

.contact h2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: "Sacramento", cursive;
    font-size: 100px;
    margin-bottom: 0;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
    
}

.contact h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 100;
    color: #7C93C3;
    display: flex;
    justify-content: center;
    margin-left: 70px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);

}

.form {
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

form {
    padding: 20px;
    background-color: #9EB8D9;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: #7C93C3;
    background-color: white;
    border-radius: 25px;
    filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px); 
}


.name-email{
    display: flex;
    gap: 20px;
}

.ne {
    width: 50%;
}

.ne input{
    width: 95%;
    border-radius: 25px;
}

.inquire {
    margin-top: 10px;
    margin-bottom: 10px;
}

.inquire select {
    width: 65%;
    border-radius: 25px;
    border-width: 2px;
}

.email input{
    border-radius: 25px;
}

#submit {
    border-radius: 25px;
    margin-top: 10px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    background-color: #7C93C3;
    color: white;
    letter-spacing: 5px;
    width: 30%;
}


/*monitor*/

@media (max-width: 2800px){
    /*introduction section*/
    .intro h1{
        font-size: 80px;
    }
    .intro h1 img{
        height: 100px;
    }
    .intro h2{
        font-size: 30px;
    }
    
    
    
    /* portfolio section */

    #portfolio {
        margin-top: 150px;
    }
} 


/*Small Screens, Ipads, laptops*/
@media (max-width: 1024px){
    /*nav*/
    .ownnav ul {        
        justify-content: center;
        gap: 30px;
    }
   
    /*introduction section*/
    .intro {
        display: block;
    }
    .intro h2{
        margin-left: 10px;
    }
    .intro h1{
        margin-top: 60px;
        margin-right: 100px;
    }

    .intro .img img{
        height: 300px;
    }
    /*portfolio section: */

    .portfolio {
        display: block;
    }

  
    .pimg{
        margin-top: 50px;

    }

    /*contact me section*/
    .contact {
        display: block;
    }

    .contact .pheader{
        font-size: 50px;
        margin-right: 100px;
    }

    .contact h3 {
        margin-right: 50px;
    }
      
    
}




/*phone*/



@media (max-width: 630px){
    /*timeline*/
    .year {
        grid-template-rows: auto auto 50px 1fr;
      }

    /*navigation*/  
    .ownnav ul {
        font-size: 13px;
        gap: 15px;
        width: 100%;        
    }
    /*introduction*/
    .intro h1 {
        font-size: 40px;
        margin:auto;
        margin-top: 50px;
    }

    .intro .img img {
        height: 250px;
    }

    .intro h1 img {
        display: none;
       
    }
    .intro h2 {
        font-size: 20px;
    }

    .intro {
        height: 50vh;
    }

    .pheader {
        font-size: 25px;
        margin-left: 130px;
    }


   /*portfolio*/
    
    .section {
        width: 100vw;
    }
    
    .subtitle {
        background-color: white;
        border-radius: 15px;
        padding: 15px;
        margin: 30px;
    }
   
    
    .innerimg img{
        height: 200px;
        width: 100%;
    }
    /*contact*/

    .contact .pheader {
        font-size: 30px;
        margin-top: 50px;
    }

    #longinput {
        width: 300px;
        height: 100px;
    }
    
}









